<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="com.google.devtools.depan.graph.registry.relation">
      <relation_contibutor
            class="com.google.devtools.depan.ruby.RubyRelationContributor"
            id="com.google.devtools.depan.ruby.RubyRelationContributor">
      </relation_contibutor>
   </extension>
   <extension
         point="com.google.devtools.depan.persistence.xstream.config">
      <xstream_config
            class="com.google.devtools.depan.ruby.RubyXStreamConfig"
            id="com.google.devtools.depan.ruby.RubyXStreamConfig">
      </xstream_config>
   </extension>
</plugin>
