<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.google.devtools.depan.view_doc.layout.registry.Generators">
      <layout
            class="com.google.devtools.depan.view_doc.layout.hierarchy.RadialLayoutContribution"
            id="com.google.devtools.depan.view_doc.layout.hierarchy.RadialLayoutContribution">
      </layout>
      <layout
            class="com.google.devtools.depan.view_doc.layout.hierarchy.TreeLayoutContribution"
            id="com.google.devtools.depan.view_doc.layout.hierarchy.TreeLayoutContribution">
      </layout>
   </extension>

</plugin>
