<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.google.devtools.depan.resources.analysis.installer">
      <installer
            class="com.google.devtools.depan.view_doc.layout.hierarchy.HierarchicalLayoutResourceInstaller"
            id="com.google.devtools.depan.view_doc.layout.hierarchy.HierarchicalLayoutResourceInstaller">
         <install_after
               installer_ref="com.google.devtools.depan.view_doc.layout.persistence.LayoutResourcesInstaller">
         </install_after>
      </installer>
   </extension>

</plugin>
