<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="com.google.devtools.depan.nodes.filters.eclipse.ui.plugins.filters" name="Contextual Filters" schema="schema/com.google.devtools.depan.nodes.filters.eclipse.ui.plugins.filters.exsd"/>
   <extension-point id="com.google.devtools.depan.eclipse.ui.nodes.node_element" name="Node Elements" schema="schema/com.google.devtools.depan.eclipse.ui.nodes.node_element.exsd"/>
   <extension
         point="com.google.devtools.depan.nodes.filters.eclipse.ui.plugins.filters">
      <filter
            class="com.google.devtools.depan.nodes.filters.eclipse.ui.filters.ClosureContribution"
            id="com.google.devtools.depan.nodes.filters.eclipse.ui.filters.ClosureContribution">
      </filter>
      <filter
            class="com.google.devtools.depan.nodes.filters.eclipse.ui.filters.ComposeContribution"
            id="com.google.devtools.depan.nodes.filters.eclipse.ui.filters.ComposeContribution">
      </filter>
      <filter
            class="com.google.devtools.depan.nodes.filters.eclipse.ui.filters.EdgeMatcherContribution"
            id="com.google.devtools.depan.nodes.filters.eclipse.ui.filters.EdgeMatcherContribution">
      </filter>
      <filter
            class="com.google.devtools.depan.nodes.filters.eclipse.ui.filters.NodeKindContribution"
            id="com.google.devtools.depan.nodes.filters.eclipse.ui.filters.NodeKindContribution">
      </filter>
      <filter
            class="com.google.devtools.depan.nodes.filters.eclipse.ui.filters.RelationCountContribution"
            id="com.google.devtools.depan.nodes.filters.eclipse.ui.filters.RelationCountContribution">
      </filter>
      <filter
            class="com.google.devtools.depan.nodes.filters.eclipse.ui.filters.SteppingContribution"
            id="com.google.devtools.depan.nodes.filters.eclipse.ui.filters.SteppingContribution">
      </filter>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="com.google.devtools.depan.eclipse.ui.nodes.trees.NodeWrapper"
            class="com.google.devtools.depan.eclipse.ui.nodes.trees.NodeViewAdapterFactory">
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
      </factory>
      <factory
            adaptableType="com.google.devtools.depan.eclipse.ui.nodes.trees.SolitaryRoot"
            class="com.google.devtools.depan.eclipse.ui.nodes.trees.NodeViewAdapterFactory">
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
      </factory>
      <factory
            adaptableType="com.google.devtools.depan.eclipse.ui.nodes.trees.TreeViewerObject"
            class="com.google.devtools.depan.eclipse.ui.nodes.trees.NodeViewAdapterFactory">
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
      </factory>
      <factory
            adaptableType="com.google.devtools.depan.eclipse.ui.nodes.trees.ViewerRoot"
            class="com.google.devtools.depan.eclipse.ui.nodes.trees.NodeViewAdapterFactory">
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
      </factory>
   </extension>
   <extension
         point="com.google.devtools.depan.persistence.resources.config">
      <rsrc_doc_config
            class="com.google.devtools.depan.nodes.filters.persistence.ContextualFilterDocConfig"
            id="com.google.devtools.depan.nodes.filters.persistence.ContextualFilterDocumentConfig">
      </rsrc_doc_config>
      <rsrc_doc_config
            class="com.google.devtools.depan.nodes.filters.persistence.NodeKindDocConfig"
            id="com.google.devtools.depan.nodes.filters.persistence.NodeKindDocConfig">
      </rsrc_doc_config>
   </extension>
   <extension
         point="com.google.devtools.depan.resources.analysis.installer">
      <installer
            class="com.google.devtools.depan.nodes.filters.persistence.ContextualFilterResourcesInstaller"
            id="com.google.devtools.depan.nodes.filters.persistence.ContextualFilterResourcesInstaller">
      </installer>
      <installer
            class="com.google.devtools.depan.nodes.filters.persistence.NodeKindResourcesInstaller"
            id="com.google.devtools.depan.nodes.filters.persistence.NodeKindResourcesInstaller">
      </installer>
   </extension>

</plugin>
