<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="com.google.devtools.depan.graph.registry.relation">
      <relation_contibutor
            class="com.google.devtools.depan.java.JavaRelationContributor"
            id="com.google.devtools.depan.java.JavaRelationContributor">
      </relation_contibutor>
   </extension>
   <extension
         point="com.google.devtools.depan.persistence.xstream.config">
      <xstream_config
            class="com.google.devtools.depan.java.JavaXStreamConfig"
            id="com.google.devtools.depan.java.JavaXStreamConfig">
      </xstream_config>
   </extension>

   <!-- ================ PREFERENCES =============== -->
</plugin>
