<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="com.google.devtools.depan.eclipse.sourceplugin">
      <languagespecific
         id="com.google.devtools.depan.java"
         source="java"
         class="com.google.devtools.depan.java.JavaPlugin"
      />
   </extension>

   <!-- ================ PREFERENCES =============== -->
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.google.devtools.depan.java.eclipse.ColorPreferencesPage"
            id="com.google.devtools.depan.java.eclipse.nodecolors"
            name="Java Node Colors"
            category="com.google.devtools.depan.eclipse.preferences.colors"/>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="com.google.devtools.depan.java.eclipse.ColorPreferencesInitializer"/>
   </extension>
</plugin>
