<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="application"
         name="DepAn App"
         point="org.eclipse.core.runtime.applications">
      <application
            icon="icons/branding/depan-icon-16x16.gif">
         <run
               class="com.google.devtools.depan.eclipse.Application">
         </run>
      </application>
   </extension>

   <extension
         id="com.google.devtools.depan.app"
         name="DepAn [Win64]"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.google.devtools.depan.application"
            description="DepAn Product"
            name="DepAn [Win64]">
         <property
               name="appName"
               value="DepAn [Win64]">
         </property>
         <property
               name="aboutImage"
               value="platform:/plugin/com.google.devtools.depan/icons/branding/depan-icon-250x250.gif">
         </property>
         <property
               name="aboutText"
               value="DepAn - A direct manipulation tool for the visualization, analysis, and refactoring of dependencies in large applications.">
         </property>
         <property
               name="application"
               value="com.google.devtools.depan.application">
         </property>
         <property
               name="windowImages"
               value="icons/branding/depan-icon-16x16.gif,icons/branding/depan-icon-32x32.gif,icons/branding/depan-icon-48x48.gif,icons/branding/depan-icon-64x64.gif">
         </property>
         <property
               name="startupForegroundColor"
               value="000000">
         </property>
         <property
               name="startupMessageRect"
               value="7,252,445,20">
         </property>
         <property
               name="startupProgressRect"
               value="5,275,445,15">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>

   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="com.google.devtools.depan.eclipse.ui.wizards"
            class="com.google.devtools.depan.eclipse.natures.NewDepanProjectWizard"
            finalPerspective="com.google.devtools.depan.eclipse.perspective"
            icon="icons/branding/depan-icon-16x16.gif"
            id="com.google.devtools.depan.eclipse.natures.NewDepanProjectWizard"
            name="DepAn Project"
            project="true">
      </wizard>
   </extension>

   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.google.devtools.depan.eclipse.Perspective"
            icon="icons/branding/depan-icon-16x16.gif"
            id="com.google.devtools.depan.eclipse.perspective"
            name="DepAn Perspective">
      </perspective>
   </extension>

   <extension
         id="DepAnNature"
         name="DepAn"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="com.google.devtools.depan.eclipse.natures.DepAnNature">
         </run>
      </runtime>
   </extension>
</plugin>
