<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="com.google.devtools.depan.eclipse.ui.wizards"
            class="com.google.devtools.depan.matchers.eclipse.ui.wizards.NewEdgeMatcherWizard"
            icon="icons/matcher_16x16.png"
            id="com.google.devtools.depan.matchers.eclipse.ui.wizards.NewEdgeMatcherWizard"
            name="Edge Matcher"
            project="true">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.google.devtools.depan.matchers.eclipse.ui.editors.GraphEdgeMatcherEditor"
            extensions="gemxml"
            icon="icons/matcher_16x16.png"
            id="com.google.devtools.depan.matchers.eclipse.ui.editors.GraphEdgeMatcherEditor"
            name="Graph Edge Matcher">
      </editor>
   </extension>
   <extension
         id="com.google.devtools.depan.matchers.persistence"
         point="com.google.devtools.depan.persistence.xstream.config">
      <xstream_config
            class="com.google.devtools.depan.matchers.persistence.EdgeMatcherDocXStreamConfig"
            id="com.google.devtools.depan.matchers.persistence.EdgeMatcherDocXStreamConfig">
      </xstream_config>
   </extension>

</plugin>
