<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="com.google.devtools.depan"
            class="com.google.devtools.depan.java.bytecode.eclipse.NewGraphWizard"
            icon="icons/eclipse/jcu_obj.png"
            id="com.google.devtools.depan.java.bytecode.eclipse.NewGraphWizard"
            name="New Java analysis">
      </wizard>
   </extension>
</plugin>
