<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="com.google.devtools.depan"
            class="com.google.devtools.depan.graphml.eclipse.NewGraphMLWizard"
            finalPerspective="com.google.devtools.depan.eclipse.perspective"
            icon="icons/eclipse/graphml_16x16.png"
            id="com.google.devtools.depan.maven.eclipse.NewGraphMLWizard"
            name="New GraphML Analysis">
      </wizard>
   </extension>
</plugin>

