<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="com.google.devtools.depan.graph_doc.eclipse.ui.registry.from_graph_doc" name="New From Graph" schema="schema/com.google.devtools.depan.graph_doc.eclipse.ui.registry.from_graph_doc.exsd"/>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.google.devtools.depan.graph_doc.eclipse.ui.editor.GraphEditor"
            default="false"
            extensions="dgi"
            icon="icons/graph_file-16x16.png"
            id="com.google.devtools.depan.graph_doc.eclipse.ui.editor.GraphEditor"
            name="Graph Tree">
      </editor>
      <editor
            class="com.google.devtools.depan.nodelist_doc.eclipse.ui.editor.NodeListEditor"
            default="false"
            extensions="dni"
            icon="icons/graph_file-16x16.png"
            id="com.google.devtools.depan.nodelist_doc.eclipse.ui.editor.NodeListEditor"
            name="NodeList Editor">
      </editor>
   </extension>
   <extension
         point="com.google.devtools.depan.graph_doc.eclipse.ui.registry.from_graph_doc">
      <contribution
            class="com.google.devtools.depan.nodelist_doc.eclipse.ui.wizards.NodeListFromGraphDocContributor"
            id="com.google.devtools.depan.nodelist_doc.eclipse.ui.wizards.NodeListFromGraphDocContributor">
      </contribution>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="com.google.devtools.depan.eclipse.ui.wizards"
            class="com.google.devtools.depan.nodelist_doc.eclipse.ui.wizards.NewSubtractNodesWizard"
            icon="icons/not16.png"
            id="com.google.devtools.depan.nodelist_doc.eclipse.ui.wizards.NewSubtractNodesWizard"
            name="Subtract Nodes">
      </wizard>
   </extension>

</plugin>
