<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="com.google.devtools.depan.view_doc.layout.registry.Generators" name="Layout Generators" schema="schema/com.google.devtools.depan.view_doc.layout.registry.Generators.exsd"/>
   <extension-point id="com.google.devtools.depan.view_doc.eclipse.ui.registry.from_view_doc" name="New From View" schema="schema/com.google.devtools.depan.view_doc.eclipse.ui.registry.from_view_doc.exsd"/>
   <extension
         point="com.google.devtools.depan.graph_doc.eclipse.ui.registry.from_graph_doc">
      <contribution
            class="com.google.devtools.depan.view_doc.eclipse.ui.wizards.ViewFromGraphDocContributor"
            id="com.google.devtools.depan.view_doc.eclipse.ui.wizards.ViewFromGraphDocContributor">
      </contribution>
   </extension>
   <extension
         point="com.google.devtools.depan.view_doc.layout.registry.Generators">
      <layout
            class="com.google.devtools.depan.view_doc.layout.grid.GridLayoutContribution"
            id="com.google.devtools.depan.view_doc.layout.grid.GridLayoutContribution">
      </layout>
      <layout
            class="com.google.devtools.depan.view_doc.layout.keep.KeepLocationsGenerator$Contribution"
            id="com.google.devtools.depan.view_doc.layout.keep.KeepLocationsContribution">
      </layout>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.google.devtools.depan.view_doc.eclipse.ui.editor.ViewEditor"
            default="false"
            extensions="dvi"
            icon="icons/view-editor.gif"
            id="com.google.devtools.depan.view_doc.eclipse.ui.editor.ViewEditor"
            name="View Diagram">
      </editor>
      <editor
            class="com.google.devtools.depan.view_doc.eclipse.ui.editor.RelationDisplayEditor"
            default="false"
            extensions="vrdxml"
            icon="icons/relpicker.png"
            id="com.google.devtools.depan.view_doc.eclipse.ui.editor.EdgeDisplayEditor"
            name="Relation Display Resource">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="com.google.devtools.depan.view_doc.eclipse.ui.views"
            name="ViewDoc Views">
      </category>
      <view
            category="com.google.devtools.depan.view_doc.eclipse.ui.views"
            class="com.google.devtools.depan.view_doc.eclipse.ui.views.ScenePrefsViewPart"
            icon="icons/zoom.png"
            id="com.google.devtools.depan.view_doc.eclipse.ui.views.ScenePrefsViewPart"
            name="Scene Controls"
            restorable="true">
      </view>
      <view
            category="com.google.devtools.depan.view_doc.eclipse.ui.views"
            class="com.google.devtools.depan.view_doc.eclipse.ui.views.VisibleRelationsViewPart"
            icon="icons/relpicker.png"
            id="com.google.devtools.depan.view_doc.eclipse.ui.views.VisibleRelationsViewPart"
            name="Visible Relations"
            restorable="true">
      </view>
      <view
            category="com.google.devtools.depan.view_doc.eclipse.ui.views"
            class="com.google.devtools.depan.view_doc.eclipse.ui.views.RelationDisplayViewPart"
            icon="icons/relpicker.png"
            id="com.google.devtools.depan.view_doc.eclipse.ui.views.RelationDisplayViewPart"
            name="Relation Properties"
            restorable="true">
      </view>
      <view
            category="com.google.devtools.depan.view_doc.eclipse.ui.views"
            class="com.google.devtools.depan.view_doc.eclipse.ui.views.EdgeDisplayViewPart"
            icon="icons/relpicker.png"
            id="com.google.devtools.depan.view_doc.eclipse.ui.views.EdgeDisplayViewPart"
            name="Edge Properties"
            restorable="true">
      </view>
      <view
            category="com.google.devtools.depan.view_doc.eclipse.ui.views"
            class="com.google.devtools.depan.view_doc.eclipse.ui.views.NodeDisplayViewPart"
            icon="icons/nodeeditor.png"
            id="com.google.devtools.depan.view_doc.eclipse.ui.views.NodeDisplayViewPart"
            name="Node Properties"
            restorable="true">
      </view>
      <view
            category="com.google.devtools.depan.view_doc.eclipse.ui.views"
            class="com.google.devtools.depan.view_doc.eclipse.ui.views.NodeFilterViewPart"
            icon="icons/selectioneditor.png"
            id="com.google.devtools.depan.view_doc.eclipse.ui.views.NodeFilterViewPart"
            name="Node Filter"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.google.devtools.depan.view_doc.eclipse.ui.handlers.ViewEditorOptionHandler"
            description="Ratio from degrees"
            id="com.google.devtools.depan.eclipse.actions.view.StretchRatio"
            name="Node ratio">
      </command>
      <command
            defaultHandler="com.google.devtools.depan.view_doc.eclipse.ui.handlers.ViewEditorOptionHandler"
            description="Node shape from role"
            id="com.google.devtools.depan.eclipse.actions.view.Shape"
            name="Shape by role">
      </command>
      <command
            defaultHandler="com.google.devtools.depan.view_doc.eclipse.ui.handlers.ViewEditorOptionHandler"
            description="Highlight root nodes"
            id="com.google.devtools.depan.eclipse.actions.view.RootHighlight"
            name="Root highlight">
      </command>
      <command
            defaultHandler="com.google.devtools.depan.view_doc.eclipse.ui.handlers.ViewEditorOptionHandler"
            description="Node size from degree"
            id="com.google.devtools.depan.eclipse.actions.view.Size"
            name="Size from degree">
      </command>
      <command
            defaultHandler="com.google.devtools.depan.view_doc.eclipse.ui.handlers.ViewEditorOptionHandler"
            description="Node stroke for select"
            id="com.google.devtools.depan.eclipse.actions.view.StrokeHighlight"
            name="Stroke highlight">
      </command>
      <command
            defaultHandler="com.google.devtools.depan.view_doc.eclipse.ui.handlers.TakeScreenshotHandler"
            description="Take screenshot of current View Editor window"
            id="com.google.devtools.depan.eclipse.actions.view.TakeScreenshot"
            name="Take screenshot...">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="Edit">
            <command
                  commandId="com.google.devtools.depan.eclipse.actions.view.TakeScreenshot"
                  icon="icons/screenshot_16x16.png"
                  label="Take screenshot..."
                  mnemonic="T"
                  style="push"
                  tooltip="Take a screenshot of the view, and save it to a file">
            </command>
         </menu>
         <menu
               label="View">
            <command
                  commandId="com.google.devtools.depan.eclipse.actions.view.RootHighlight"
                  icon="icons/flag_red.png"
                  label="Root highlight"
                  style="toggle">
            </command>
            <command
                  commandId="com.google.devtools.depan.eclipse.actions.view.StrokeHighlight"
                  icon="icons/link_go.png"
                  label="Stroke highlight"
                  style="toggle">
            </command>
            <command
                  commandId="com.google.devtools.depan.eclipse.actions.view.Shape"
                  icon="icons/plugin.png"
                  label="Shape by role"
                  style="toggle">
            </command>
            <command
                  commandId="com.google.devtools.depan.eclipse.actions.view.StretchRatio"
                  icon="icons/shape_handles.png"
                  label="Ratio from degrees"
                  style="toggle">
            </command>
            <command
                  commandId="com.google.devtools.depan.eclipse.actions.view.Size"
                  icon="icons/lightning.png"
                  label="Size from degree"
                  style="toggle">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="com.google.devtools.depan.eclipse.ui.wizards"
            class="com.google.devtools.depan.view_doc.eclipse.ui.wizards.NewRelationDisplayDocWizard"
            icon="icons/relpicker.png"
            id="com.google.devtools.depan.view_doc.eclipse.ui.wizards.NewEdgeDisplayDocWizard"
            name="New edge properties"
            project="true">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.google.devtools.depan.eclipse.preferences.ColorPreferencesPage"
            id="com.google.devtools.depan.eclipse.preferences.colors"
            name="Colors">
      </page>
      <page
            class="com.google.devtools.depan.eclipse.preferences.LabelPreferencesPage"
            id="com.google.devtools.depan.eclipse.preferences.labels"
            name="Labels">
      </page>
      <page
            class="com.google.devtools.depan.eclipse.preferences.NodePreferencesPage"
            id="com.google.devtools.depan.eclipse.preferences.nodeoptions"
            name="Node Rendering options">
      </page>
   </extension>
   <extension
         point="com.google.devtools.depan.nodes.filters.eclipse.ui.plugins.filters">
      <filter
            class="com.google.devtools.depan.view_doc.eclipse.ui.filters.IncludeViewNodesFilterContribution"
            id="com.google.devtools.depan.view_doc.eclipse.ui.filters.IncludeViewNodesFilterContribution">
      </filter>
      <filter
            class="com.google.devtools.depan.view_doc.eclipse.ui.filters.ExcludeViewNodesFilterContribution"
            id="com.google.devtools.depan.view_doc.eclipse.ui.filters.ExcludeViewNodesFilterContribution">
      </filter>
   </extension>
   <extension
         point="com.google.devtools.depan.view_doc.eclipse.ui.registry.from_view_doc">
      <contribution
            class="com.google.devtools.depan.view_doc.eclipse.ui.wizards.ViewFromViewDocContributor"
            id="com.google.devtools.depan.view_doc.eclipse.ui.wizards.ViewFromViewDocContributor">
      </contribution>
   </extension>

</plugin>
