<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.google.devtools.depan.graph_doc.eclipse.ui.registry.from_graph_doc">
      <contribution
            class="com.google.devtools.depan.view_doc.eclipse.ui.wizards.ViewFromGraphDocContributor">
      </contribution>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.google.devtools.depan.view_doc.eclipse.ui.editor.ViewEditor"
            default="false"
            extensions="dvi"
            icon="icons/view-editor.gif"
            id="com.google.devtools.depan.view_doc.eclipse.ui.editor.ViewEditor"
            name="View Diagram">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="com.google.devtools.depan.view_doc.eclipse.ui.views"
            name="ViewDoc Views">
      </category>
      <view
            category="com.google.devtools.depan.view_doc.eclipse.ui.views"
            class="com.google.devtools.depan.view_doc.eclipse.ui.views.ScenePrefsViewPart"
            icon="icons/zoom.png"
            id="com.google.devtools.depan.view_doc.eclipse.ui.views.ScenePrefsViewPart"
            name="Scene Controls"
            restorable="true">
      </view>
      <view
            category="com.google.devtools.depan.view_doc.eclipse.ui.views"
            class="com.google.devtools.depan.view_doc.eclipse.ui.views.VisibleRelationsViewPart"
            icon="icons/relpicker.png"
            id="com.google.devtools.depan.view_doc.eclipse.ui.views.VisibleRelationsViewPart"
            name="Visible Relations"
            restorable="true">
      </view>
   </extension>

</plugin>
