<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="application"
         name="DepAn CLI"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.google.devtools.depan.cmd.Application">
         </run>
      </application>
   </extension>
   <extension
         id="com.google.devtools.depan.cli"
         name="DepAn [CLI]"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.google.devtools.depan.cmd.application"
            description="DepAn Command Line Interface"
            name="DepAn [CLI]">
         <property
               name="appName"
               value="DepAn [CLI]">
         </property>
         <property
               name="aboutImage"
               value="platform:/plugin/com.google.devtools.depan/icons/branding/depan-icon-250x250.gif">
         </property>
         <property
               name="aboutText"
               value="DepAn - A direct manipulation tool for the visualization, analysis, and refactoring of dependencies in large applications.">
         </property>
         <property
               name="windowImages"
               value="icons/branding/depan-icon-16x16.gif,icons/branding/depan-icon-32x32.gif,icons/branding/depan-icon-48x48.gif,icons/branding/depan-icon-64x64.gif">
         </property>
         <property
               name="startupForegroundColor"
               value="000000">
         </property>
         <property
               name="startupMessageRect"
               value="7,252,445,20">
         </property>
         <property
               name="startupProgressRect"
               value="5,275,445,15">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>


</plugin>
